 <div style="height: " id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="~/Template/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open">
            <a> SẢN PHẨM </a>
            <ul>
                <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
            </ul>
        </li>
        @Html.Partial("_NhaSanXuat", Template.Models.Bus.NhaSanXuatBus.DanhSach())
        <li class="subMenu">
            <a>FOOD AND BEVERAGES [1000]</a>
            <ul style="display:none">
                <li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>
                <li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
            </ul>
        </li>
        <li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
        <li><a href="products.html">SPORTS & LEISURE [58]</a></li>
        <li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
    </ul>
</div>
