@model IEnumerable<ShopDienThoaiConnection.HangSP>
<li class="subMenu">
    <a> HÃNG SẢN XUẤT </a>
    <ul style="display: none">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index","NhaSanXuat", new {id=@item.MaHang})"><i class="icon-chevron-right"></i>@item.TenHang</a></li>    
        }
        
    </ul>
</li>
